{% extends 'base.html' %}

{% block title %}Satın Alma Sil{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Satın Alma Silme Onayı</h3>
            </div>
            <div class="card-body">
                <p class="alert alert-danger">
                    <strong>Dikkat!</strong> Bu satın alma kaydını silmek üzeresiniz. Bu işlem geri alınamaz.<br>
                    <b>Ürün:</b> {{ satin_alma.urun.ad }}<br>
                    <b>Tedarikçi:</b> {{ satin_alma.tedarikci.ad }}<br>
                    <b>Tarih:</b> {{ satin_alma.tarih|date:'d.m.Y' }}
                </p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Evet, Sil
                        </button>
                        <a href="{% url 'satin_alma:satin_alma_listesi' %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> İptal
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 